<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<h1 class="title" v-bind:title='tip' v-if='seen' v-on:click='reverse'>{{mes}}
	<input type="text" v-model='mes'>
	</h1>
	<ol class="list">
		<li v-for='todo in todos'>
			{{ todo.text }}
		</li>
	</ol>
	<script>
		var app=new Vue({
			el:'.title',
			data:{
				mes:'Hello vue!',
				tip:'现在是'+new Date().toLocaleString(),
				seen:true,
			},
			methods:{
				reverse:function(){
					console.log(this)
					this.mes=this.mes.split('').reverse().join('');
				}

			}
		})
		var app2=new Vue({
			el:'.list',
			data:{
				todos:[
					{text:'学习 jsvascript'},
					{text:'学习vue'},
					{text:'牛逼项目'}
				]
			}
		})
	</script>
</body>
</html>